<table class="table">
    <thead class="thead-dark">
    <tr>
        <th scope="col">Vozidlo</th>
        <th scope="col">Datum</th>
        <th scope="col">Uživatel</th>
        <th scope="col">Rezervováno</th>
        <th scope="col">Poslední editace</th>
        <th scope="col">Akce</th>
    </tr>
    </thead>
    <tbody>
    <tr n:if="0 === $count">
        <td colspan="6"><em>Nenalezeny žádné rezervace!</em></td>
    </tr>
    <tr n:foreach="$reservationList as $reservation">
        <td>{$reservation->getCar()->getName()} ({$reservation->getCar()->getLicenseNumber()})</td>
        <td>{$reservation->getReservationFrom()|date:'%d.%m.%Y %H:%M'}
            - {$reservation->getReservationTo()|date:'%d.%m.%Y %H:%M'}</td>
        <td>{$reservation->getCreatedBy()->getFullName()}</td>
        <td>{$reservation->getCreatedAt()|date:'%d.%m.%Y %H:%M'}</td>
        <td>{$reservation->getUpdatedAt()|date:'%d.%m.%Y %H:%M'}</td>
        <td>
            {if $user === $reservation->getCreatedBy()->getId()}
                <a href="{plink ReservationEdit: $reservation->getId()}">Editovat</a>,&nbsp;
                <a href="{plink ReservationDelete: $reservation->getId()}"
                   onclick="return confirm('Opravdu chcete smazat tuto rezervaci?')">Smazat</a>
            {/if}
        </td>
    </tr>
    </tbody>
</table>
<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item{if true === $firstPage} disabled{/if}">
            <a class="page-link" href="{plink Reservations:}">První</a>
        </li>
        <li class="page-item{if true === $firstPage} disabled{/if}">
            <a class="page-link" href="{plink Reservations:, (2 === $page ? "" : ($page-1))}">Předchozí</a>
        </li>
        <li class="page-item{if true === $lastPage} disabled{/if}">
            <a class="page-link" href="{plink Reservations:, ($page+1)}">Další</a>
        </li>
        <li class="page-item{if true === $lastPage} disabled{/if}">
            <a class="page-link" href="{plink Reservations:, (ceil($totalCount/$limit))}">Poslední</a>
        </li>
    </ul>
</nav>
