<div class="row">
    <div class="col-xl-3">
        {form form}
            <div class="form-group">
                {label reservationFrom}
                {input reservationFrom, class=> "form-control datetimepicker"}
            </div>
            <div class="form-group">
                {label reservationTo}
                {input reservationTo, class=> "form-control datetimepicker"}
            </div>
            <div class="form-group">
                {label car}
                {input car, class=> "form-control"}
            </div>
            {input submit, class=> "btn btn-primary"}
        {/form}
    </div>
</div>
